@page "/"

@using Infrastructure.Persistence
@using Domain.Models

@inject AppDbContext DataContext

<PageTitle>Index</PageTitle>

<h1>Rental Mobil</h1>

Selamat datang di Rental Mobil <strong>Meliwis Putih</strong>
<br>
@* <button class="btn btn-primary" @onclick="Login">Login</button> *@

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <p>Hello, Developer @context.User.Identity!.Name</p>
    </Authorized>
</AuthorizeView>

<div>
    <CarGallery />
</div>

@code{

}
